.clickable {
    cursor: pointer;

}

#box {
    position: absolute;
    width: 30%;
    height: 50%;
    bottom: 25%;
    left: 50%;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur();
    border: 5px solid rgba(226, 112, 112, 0.91);
    z-index: 1;
    padding: 1.5em 3em;
    transform: translateX(-50%);
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    transition: all 1s ease;
}

#box:hover {
    border-color: green;
}

html, body {
    height: 100%;  
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/stars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transition: 1000ms;
    opacity: 1;
    color: #fff;
}

#box:active {
    background-color: #904e42; 
}

